.ImageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.ImageRow__item {
    position: relative;
    color: #fff;
    max-height: 250px;
}
.ImageRow__text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 1.8em;
    margin-top: -0.9em;
    line-height: 1.2;
    z-index: 1;
    text-align: center;
}
.ImageRow__pic {
    height: 100%;
}
.ImageRow__pic-overlay {

    background-color: rgba(0,0,0,0.4); 
    transition: background-color ease-out 200ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ImageRow__item:hover .ImageRow__pic-overlay {
    background-color: rgba(0,0,0,0.2); 
  }