body {
  font-family: 'Varela Round', sans-serif;
}

nav {
  display: block;
  width: 100%;
  height: 70px;
  background-color: #fff;
  font-size: 0.8em;
}

a { 
  color: inherit; 
  text-decoration: none;
  cursor: pointer;
} 

.logo {
  float: left;
  display: inline;
  padding: 5px 50px 10px 50px;
}

nav ul {
  display: inline;
}

nav li {
  list-style: none;
  line-height: 80px;
}

#nav-mobile {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  line-height: 20px;
  float: left;
  background-color: #fff;
  z-index: 100;
}

.button-collapse {
  display: none;
}

.nav-full li {
  margin: 0px 100px;
}


.nav-left {
  margin-right: 20px;
  color: #000;
  float: left;
}

.nav-left:hover {
  color: #FF8200;
}

.nav-right {
  float: right;
}

.nav-pill {
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 7px;
  color: #000;
}

.nav-pill:hover {
  border: 1px solid #64CCC9;
  color: #64CCC9;
}

.purple {
  color: #9B26B6;
}

.blue {
  color: #64CCC9;
}

.orange {
  color: #FF8200;
}

.icon {
  padding: 28px 10px;
}

/*nav ul ul {
  display: none;
  position: absolute;
  margin-top: 60px;
  line-height: 30px;
  left: 250px;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 30px;
}

nav ul li:hover > ul {
  display: inherit;
}*/

/* HOME */

.home-bk {
  width: 100%;
}

.home-sec1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*align-content: center;*/
  height: 500px;
  overflow: hidden;
}

.home-nav-pill {
  margin: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 0.5em;
  padding: 7px;
  color: #fff;
}

.home-nav-pill:hover {
  border: 1px solid #FF8200;
  color: #FF8200;
}

.flex-col {
  position: absolute;
  top: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5em;
  color: #fff;
}

hr {
  display: inline-block;
  width: 200px;
}

.line-purple {
  border: 2px solid #9B26B6;
}

.line-blue {
  border: 2px solid #64CCC9;
}

.line-orange {
  border: 2px solid #FF8200;
}

.flex-col span {
  padding: 5px;
  text-shadow: 2px 2px 8px #333333;
}

#video-background {
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  /*height: auto;*/
  z-index: -100000;
}

.home-sec2 {
  height: 400px;
  width: 100%;
  position: relative;
  margin: 80px 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  /*height: 90%;*/
  width: 280px;
  padding: 0px 20px 30px;
  margin: 20px;
  border: 5px solid #dddbd9;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.6;
}

.card img {
  width: 100%;
}

.card.card-active {
  width: 320px;
  opacity: 1;
  border: 5px solid #ff9933;
}

.home-sec3 {
}

.home-sec4 {
  height: 600px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.home-img4 {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*background-image: url(modules/assets/img03.jpg);
  background-size: cover;*/
}

.home-sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 1.5em;
  /*background-color: #eff0f2;*/
}

.gallery-container {
  width: 100%;
  position: relative;
  background: rgb(247, 242, 238, 0.5);
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgb(247, 242, 238, 0.5),rgb(247, 242, 238), rgb(247, 242, 238)); 
  background: -o-linear-gradient(rgba(255,0,0,0), rgb(247, 242, 238, 0.5),rgb(247, 242, 238), rgb(247, 242, 238)); 
  background: -moz-linear-gradient(rgba(255,0,0,0), rgb(247, 242, 238, 0.5),rgb(247, 242, 238), rgb(247, 242, 238)); 
  background: linear-gradient(rgba(255,0,0,0), rgb(247, 242, 238),rgb(247, 242, 238), rgb(247, 242, 238), rgb(247, 242, 238)); /* Standard syntax   */
}

.gallery-img {
  display: block;
  margin: auto;
  width: auto;
  height: 500px;
  padding: 30px 0px;
}

.fa-arrow-circle-left, .fa-arrow-circle-right {
  font-size: 2em;
  color: #d8d8d8;
}

.fa-arrow-circle-left {
  position: absolute;
  top: 230px;
  left: 150px;
  float: left;
}

.fa-arrow-circle-right {
  position: absolute;
  top: 230px;
  right: 150px;
  float: right;
}

.bullets-container {
  height: 50px;
  text-align: center;
}

.bullet {
  font-size: 35px;
  padding: 8px;
  color: #dddbd9;
  align-items: center;
  cursor: pointer;
}

.bullet.bullet-active {
  color: #ff9933;
}

.newsletter {
  font-size: 1.5em;
  padding-top: 30px;
}

.newsletter input {
  line-height: 29px;
  width: 350px;
  border: 1px solid #9B26B6;
}

.newsletter button {
  color: #fff;
  border: 2px solid #9B26B6;
  background-color: #9B26B6;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  padding: 3px 10px;
}

.footer-social {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  padding: 10px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  margin: auto;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 0px;
  line-height: 1.5;
}

.footer-links div span b {
  font-size: 1.1em;
}

/*ABOUT*/

.text-container {
  width: 70%;
  margin: 50px auto;
}

.text-container h1 {
  text-align: center;
}

.text-container.center p {
  text-align: center;
}

.about-title {
  width: 30%;
  font-size: 2.2em;
}

.about-text {
  width: 70%;
}

.about-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-bg {
  background: rgb(51, 58, 76);
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgb(51, 58, 76), rgb(51, 58, 76)); 
  background: -o-linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgb(51, 58, 76), rgb(51, 58, 76)); 
  background: -moz-linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgb(51, 58, 76), rgb(51, 58, 76)); 
  background: linear-gradient(rgba(255,0,0,0), rgba(255,0,0,0), rgb(51, 58, 76), rgb(51, 58, 76)); /* Standard syntax   */
}

.empty-div {
  height: 100px;
}

/*IN CLASS*/

.container-topMargin {
  margin-top: 100px;
}

.class-bg {
  background: rgb(211, 213, 210); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgb(211, 213, 210), rgb(211, 213, 210), rgb(245, 242, 239)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0), rgb(211, 213, 210), rgb(211, 213, 210), rgb(245, 242, 239)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0), rgb(211, 213, 210), rgb(211, 213, 210), rgb(245, 242, 239)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,0,0,0), rgb(211, 213, 210), rgb(211, 213, 210), rgb(245, 242, 239)); /* Standard syntax */  
}

/*BUILDING PROJECTS*/

.projects-bg {
  background: rgb(170, 196, 223); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgb(234, 237, 242), rgb(234, 237, 242), rgb(245, 242, 239)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0), rgb(234, 237, 242), rgb(234, 237, 242), rgb(245, 242, 239)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0), rgb(234, 237, 242), rgb(234, 237, 242), rgb(245, 242, 239)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,0,0,0), rgb(234, 237, 242), rgb(234, 237, 242), rgb(245, 242, 239)); /* Standard syntax */  
}

.threerow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 1200px;
}

.three-a-row {
  position: relative;
  height: 250px;
  margin: 30px;
  width: 33.33%;
  font-size: 1.8em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-a-row a {
  z-index: 2;
  /*padding-bottom: 50px;*/
}

.three-overcast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  z-index: 1;
}

.three-overcast:hover {
  opacity: 0;
}

.empty-section {
  height: 100px;
}

/*DONATE*/
.donate-container {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 1300px;
  z-index: -2;
  position: relative;
  border-radius: 5px;
  background: #f5f2ef; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(255,0,0,0), rgb(245, 242, 239), rgb(245, 242, 239), rgb(245, 242, 239)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0), rgb(245, 242, 239), rgb(245, 242, 239), rgb(245, 242, 239)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0), rgb(245, 242, 239), rgb(245, 242, 239), rgb(245, 242, 239)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,0,0,0), rgb(245, 242, 239), rgb(245, 242, 239), rgb(245, 242, 239)); /* Standard syntax */
}

iframe {
  display: block;
  z-index: 10;
}

.donate-container h2{
  padding-top: 40px;
}

.donate-container p {
  padding-bottom: 15px;
}

.donate-container img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  z-index: -1;
}

.donate-box {
  font-size: 2em;
  margin: auto;
  margin-bottom: 30px;
  height: 400px;
  background-color: #fff;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  position: relative;
  z-index: 10;
}

.donate-header {
  background-color: #64CCC9;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.donate-box input {
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 100px;
}

.donate-box span {
  display: inline;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  margin: 15px;
  font-size: 0.8em;
}
.donate-box center {
  margin: 30px;
}

.donate-container button {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  font-size: 1em;
  background-color: #9B26B6;
  color: #fff;

}

.donate-selected {
  background-color: #efefef;
}

/* PARTNERS */

.partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
}

.partner img {
  width: 100%;
}

@media (max-width : 1000px) {

  .nav-full {
    display: none;
  }

  .button-collapse {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }

  nav ul li {
  padding-top: 10px;
  padding-left: 10px;
  clear: both;
  line-height: 30px;
  }

  .flex-col {
    display: none;
  }

}

@media (max-width: 650px) {
  .home-sec2 {
    height: auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
  height: 500px;
  width: 90%;
  padding: 20px;
  margin: 20px;
  border: 5px solid #dddbd9;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  }

  .card img {
    width: 100%;
  }

  .card.card-active {
    height: 500px;
    width: 90%;
    border: 5px solid #ff9933;
  }

  .gallery-img {
  padding-left: 0px;
  padding-right: 0px;
}
  .three-a-row {
    width: 100%;
  }

  .threerow-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

}

