.navbar {
  display: block;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

a { 
  color: inherit; 
} 

.nav-bk {
  position: absolute;
   top: 0;
  left: 0;
  right: 0; 
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  z-index: -100;
}

.navbar ul li {
  display: inline-block;
  padding-left: 30px;
  clear: both;
  line-height: 70px;
}

#nav-mobile {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  line-height: 20px;
  float: left;
  background-color: #fff;
  z-index: 10;
}

.button-collapse {
  display: none;
}

.logo {
  float: left;
  height: 90%;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.navlink {
  color: #000;
  clear: left;
  float: left;
}

.nav-sublink {
  float: none;
  display: list-item;
  list-style: none;
  position: relative;
}

.nav-right {
  float: right;
  clear: right;
}

.nav-pill {
  border: 1px solid black;
  border-radius: 8px;
  padding: 7px;
  color: #000;
}

.active {
  
}

nav ul ul {
  display: none;
  position: absolute;
  margin-top: 60px;
  line-height: 30px;
  left: 250px;
  background-color: #fff;
  border-radius: 20px;
  padding-right: 30px;
}

nav ul li:hover > ul {
  display: inherit;
}

/* HOME */

.home-sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
}

.home-sec1 span {
  position: absolute;
  font-size: 4em;
  color: #fff;
  z-index: -10000;
}

#video-background {
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: auto;
  z-index: -100000;
}

.home-sec2 {
  height: 500px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  height: 90%;
  width: 30%;
  padding: 20px;
  margin: 20px;
  border: 5px solid #dddbd9;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.6;
}

.card img {
  width: 100%;
}

.card.card-active {
  height: 100%;
  width: 40%;
  opacity: 1;
  border: 5px solid #ff9933;
}

.home-learnmore {
  color: #47e8e5;
}

.home-sec4 {
  height: 600px;
  font-size: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.home-img4 {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*background-image: url(modules/assets/img03.jpg);
  background-size: cover;*/
}

.home-sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 150px;
  margin-top: 100px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.gallery-img {
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
}

.bullets-container {
  height: 150px;
  text-align: center;
}

.bullet {
  font-size: 40px;
  padding: 20px;
  color: #dddbd9;
  align-items: center;
  cursor: pointer;
}

.bullet.bullet-active {
  color: #ff9933;
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

footer i {
  padding: 10px;
}

/*ABOUT*/

.text-container {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.text-container h1 {
  text-align: center;
}

.progress {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.5em;
  border-radius: 15px;

}

.progress div {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}


/*IN CLASS*/

.container-topMargin {
  margin-top: 150px;
  padding-left: 150px;
  padding-right: 150px;
}

.threerow-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.three-a-row {
  position: relative;
  height: 150px;
  margin: 10px;
  width: 33.33%;
  background-color: rgba(0,0,0,0.6);
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

@media (max-width : 1000px) {

  .nav-full {
    display: none;
  }

  .button-collapse {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .navbar ul li {
  padding-top: 10px;
  padding-left: 10px;
  clear: both;
  line-height: 30px;
  }

}

@media (max-width: 650px) {
  .home-sec2 {
    height: auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
  height: 500px;
  width: 90%;
  padding: 20px;
  margin: 20px;
  border: 5px solid #dddbd9;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  }

  .card img {
    width: 100%;
  }

  .card.card-active {
    height: 500px;
    width: 90%;
    border: 5px solid #ff9933;
  }

  .gallery-img {
  padding-left: 0px;
  padding-right: 0px;
}
  .three-a-row {
    width: 100%;
  }

  .threerow-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

}

